// CSS overrides

// .list-override {
//   position: relative;
// }

ion-content {
  --ion-background-color: linear-gradient(162deg, rgba(79, 83, 94, 0.8) 20%, rgba(56, 70, 108, .8) 100%) !important
}

ion-list {
  --ion-background-color: rgba(53, 54, 56, 0.8) !important;
  background-image: URL('./../../assets/imgs/logo_transparent.png') center center !important;
}

ion-footer {
  --ion-color: white
}