// CSS overrides

.list-override {
  position: relative;
  top: -10vh;
}

.current-song {
  background: black;
  color: white;
  text-align: center;
  height: 10vh;
  margin-bottom: 5%;
}

.btn-vote {
  color: black;
  border-color: black !important;
}

