<ion-header>
  <ion-toolbar>
    <ion-title>
      Now Playing
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div class="now-playing">
    <ion-icon name="arrow-round-back"></ion-icon>
    <div slot="right">
      Current song playing
    </div>
    <ion-icon slot="left" name="arrow-round-forward"></ion-icon>
  </div>
</ion-content> -->

<!-- <ion-list>
  <ion-item>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mega Man X</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Legend of Zelda</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pac-Man</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Super Mario World</ion-label>
  </ion-item>
</ion-list> -->

<ion-list class="list-override" lines="none">
  <ion-item>
    <ion-label slot="start">
      <h3>Current Song</h3>
      <p>Current Artist</p>
    </ion-label>
    <ion-icon name="arrow-round-up" slot="end"></ion-icon>
    <ion-icon name="arrow-round-down" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label slot="start">
      <h3>Current Song</h3>
      <p>Current Artist</p>
    </ion-label>
    <ion-icon name="arrow-round-up" slot="end"></ion-icon>
    <ion-icon name="arrow-round-down" slot="end"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label slot="start">
      <h3>Current Song</h3>
      <p>Current Artist</p>
    </ion-label>
    <ion-icon name="arrow-round-up" slot="end"></ion-icon>
    <ion-icon name="arrow-round-down" slot="end"></ion-icon>
  </ion-item>
</ion-list>

<ion-footer>
  <ion-toolbar>
    <!-- <div slot="start"></div> -->
    <ion-button size="large">ADD</ion-button>
    <!-- <div slot="end"></div> -->
  </ion-toolbar>
</ion-footer>
