// CSS overrides

.list-override {
  position: relative;
  top: -10vh;
}

.current-song {
  background: transparent;
  color: white;
  text-align: center;
  height: 10vh;
  margin-bottom: 5%;
}

.btn-vote {
  // color: black;
  // border-color: black !important;
}

.header-bg {
  background: linear-gradient(162deg, rgba(56, 70, 108, .8) 20%, rgba(56, 70, 108, .8) 100%) !important;
}

