<ion-header>
  <ion-toolbar>
    <ion-title>
      Now Playing
    </ion-title>
  </ion-toolbar>

  <ion-toolbar class="playing-wrapper">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Current song playing</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list class="list-override" lines="none" *ngFor="let item of data; let index = $index">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="{{ item.img }}" />
    </ion-thumbnail>
    <ion-label>
      <h3>{{ item.title }}</h3>
      <p>{{ item.subTitle }}</p>
    </ion-label>
    <ion-button (click)="move(index, index + 1)" expand="outline" slot="end">
      <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
    </ion-button>
    <ion-button (click)="move(index, index - 1)" expand="outline" slot="end">
      <ion-icon slot="icon-only" name="arrow-round-down"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="presentAddSongPrompt()" expand="full" fill="solid">ADD</ion-button>
  </ion-toolbar>
</ion-footer>
<!-- </ion-content> -->
