<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      Now Playing
    </ion-title>
  </ion-toolbar> -->

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

      <div class="current-song">
        <h3>Song currently</h3>
      </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="list-override" lines="none" *ngFor="let item of data; let index = $index">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="{{ item.img }}" />
    </ion-thumbnail>
    <ion-label>
      <h3>{{ item.title }}</h3>
      <p>{{ item.subTitle }}</p>
    </ion-label>
    <ion-button style="color: black; border-color: black" (click)="move(index, index + 1)" expand="outline" slot="end">
      <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
    </ion-button>
    <ion-button style="color: black" (click)="move(index, index - 1)" expand="outline" slot="end">
      <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="presentAddSongPrompt()" expand="full" fill="clear">ADD</ion-button>
  </ion-toolbar>
</ion-footer>
